<mat-card class="header-card">
  <div class="fxFlex" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="end end">
    <button mat-button class="menu-button" (click)="onHomeClick()">Home</button>
    <button mat-button class="menu-button" (click)="onPackagesClick()">Packages</button>
    <button mat-button class="menu-button" (click)="onGalleryClick()">Gallery</button>
    <button mat-button class="menu-button" (click)="onContactUsClick()">Contact Us</button>
    <button mat-button class="book-now-button" (click)="onBookingClick()">Book Now</button>
  </div>
</mat-card>
