<app-menu-header></app-menu-header>
<div class="header-image">
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="body">
  <h3>Welcome to</h3>
  <h1>THE PLACE OF ENJOYMENT</h1>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="column" class="p-4">
      <div class="body-image-container">
        <img src="../../assets//visit-our-galary.jpg">
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="visit-galary-info">VISIT OUT GALARY</p>
        <button mat-button class="info-button">INFO</button>
      </div>
    </div>
    <div fxLayout="column" class="p-4">
      <div class="body-image-container">
        <img src="../../assets//events-schedule.jpg">
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="visit-galary-info">EVENTS SCHEDULE</p>
        <button mat-button class="info-button">INFO</button>
      </div>
    </div>
    <div fxLayout="column" class="p-4">
      <div class="body-image-container">
        <img src="../../assets/book-package.jpg">
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="visit-galary-info">BOOK A PACKAGE</p>
        <button mat-button class="info-button">INFO</button>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="info-container">
  <div>
    <img class="info-image" src="../../assets/info-1.jpg">
  </div>
  <div class="info-heading" fxLayout="column">
    <div>
      <h6>Never ending enjoyment</h6>
      <h2>ENJOY THE VACATION TIME</h2>
    </div>
    <div class="info-text">
      <p>Completely remodeled and new for 2022, the new management is bringing you a
        Playa Pool Club
        facility with all
        the amenities and more of a private club, but without the expensive bond to join. Explore our membership
        options, see upcoming events, and view our gallery to learn more about the plans for our new facility.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
