.header-image {
  background-image: url("../../assets/background-1.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.body-image-container {
  height: 100 px;
  width: 100 px;
}

.visit-galary-info {
  text-align: center;
  font-weight: 500;
  font-size: 1.471em;
  color: #00516f;
}

.info-container {
  height: 700px;
  padding: 375px;
}

.info-heading {
  margin-left: 8%;
}

.info-text {
  background-color: #f7f7f3;
  padding: 20px;
  content: "";
  font-family: "Courier New", monospace;
}

.info-image {
  width: 450px;
  height: 60%;
}

.info-text-container {
  margin-top: 210px;
}

.info-button {
  color: #fff;
  width: 100px;
  transition: all 0.3s;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00516f;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#00516f, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

h1 {
  color: #4bbed1;
  font-family: oswald, sans-serif;
}

h2 {
  color: #4bbed1;
  font-family: oswald, sans-serif;
  font-size: 4.118em;
  font-weight: 600;
  font-style: normal;
}

h3 {
  color: #00516f;
  font-family: playfair display, serif;
  font-style: italic;
  font-size: x-large;
}

h6 {
  color: #00516f;
  font-family: playfair display, serif;
  font-style: italic;
  font-size: 1.353em;
  font-weight: 700;
}

p {
  font-family: inherit;
  color: #708586;
}
